body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1A1A1A; 
    color: #FFFFFF; 
    font-family: serif; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-align: left;
}
.content {
    width: 60%; 
    max-width: 900px;
    padding-bottom: 50px;
}
.content h1 {
    font-size: 3em; 
    margin-bottom: 10px;
    font-weight: bold;
    color: #F0F0F0; 
    letter-spacing: 2px;
}
.content p {
    font-size: 1em;
    line-height: 1.5;
    color: #DDDDDD;
}